node_modules
artifacts/*
*.traineddata

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

test/baseline
tmp
.env
.env.ios
.env.android
.env.web
.env.electron
.env.ext
.env.touch

build

.DS_Store
allure-report
allure-results
first.lock
node_modules
.yarnrc.yml